<mat-card (click)="onSelect(activity)" *ngIf="activity">
  <div fxLayout="row">
    <div
      routerLink="/activities/activity/{{ activity.id }}"
      style="cursor: pointer; text-align: left; display: inline-block"
    >
      <div style="color: blue">
        <b>{{ activity.description }}</b>
      </div>

      <div style="color: blue">#{{ activity.name }}</div>

      total experiences for this activity: {{ activity.xps_count }} <br />
      total amount of masters teaching this activity:
      {{ activity.master_count }}

      <br />
      <br />
    </div>
  </div>

  <div>
    <div>
      <b>{{ activity.name }}</b> has been picked with the following archtipes by
      its attenders:<br /><br />

      <app-qualities-list-horizontal
        [qualities]="activity.qualities"
        [total]="activity.xps_count"
      ></app-qualities-list-horizontal>
    </div>
  </div>
</mat-card>
