<mat-card
  (click)="onSelect(activity)"
  *ngIf="activity"
  style="border: 0px solid black; margin: 5px; padding: 5px"
>
  <mat-card-content
    routerLink="/activities/activity/{{ activity.id }}"
    style="cursor: pointer; text-align: center"
  >
    <div>
      <div style="text-align: left">
        <b>{{ activity.description }} </b>
      </div>

      <div fxLayout="row" style="width: 100%">
        <div class="two-columns">
          <div class="column1">
            <!-- Contenuto della prima colonna -->

            <img
              src="{{
                'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
                  activity.img_url
              }}"
              class="profile-pic"
              width="100%"
              style="border-radius: 5%"
            />
          </div>
          <div class="column2">
            <!-- Contenuto della seconda colonna -->

            <div style="width: 100%">
              <app-virtues-pie
                [qualities]="activity.qualities"
              ></app-virtues-pie>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      style="
        text-align: left;
        font-size: xx-small;
        height: 20px;
        white-space: nowrap;
        margin-right: 10px;
      "
    >
      <div
        style="color: black; cursor: pointer; display: inline"
        *ngFor="let quality of activity.qualities; let i = index"
        routerLink="/qualities/quality/{{ quality.id }}"
      >
        <div class="contenitore" *ngIf="i < 3">
          <div class="cerchio" [ngClass]="quality.virtue"></div>
          {{ quality.name }} ({{ quality.count }})
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
