<mat-card (click)="onSelect(activity)" *ngIf="activity" style="margin: 10px">
  <div style="width: 100%">
    <div style="width: 100%; margin-top: 0px">
      <div
        routerLink="/activities/activity/{{ activity.id }}"
        style="cursor: pointer; text-align: left; float: left"
      >
        <div style="color: blue">
          <b>{{ activity.description }}</b>
          <div>#{{ activity.name }}</div>
        </div>
      </div>

      <div
        style="
          float: right;
          color: gray;
          font-size: xx-small;
          font-style: italic;
        "
      >
        <div>experiences: {{ activity.xps_count }}</div>
        <span>
          masters:
          {{ activity.master_count }}
        </span>
      </div>
    </div>
  </div>
  <br />
  <br />

  <div>
    <div>
      <app-qualities-list-horizontal
        [qualities]="activity.qualities"
        [total]="activity.xps_count"
      ></app-qualities-list-horizontal>
    </div>
  </div>
</mat-card>
