<div fxLayout="row">
  <div fxFlex.gt-sm="60%">
    <div class="container" style="width: 99%">
      <div>
        <h1 style="text-align: center">Archtypes</h1>
        <div class="heroes">
          <div id="parent">
            <div style="height: 1500px">
              <div *ngFor="let quality of qualities | async" class="child">
                <mat-card>
                  <div fxLayout="row">
                    <div fxFlex="50">
                      <div
                        class="inline"
                        style="margin-bottom: 50px; float: right"
                      >
                        <img
                          routerLink="/qualities/quality/{{ quality.id }}"
                          style="
                            cursor: pointer;
                            max-width: 200px;
                            border-radius: 5%;
                          "
                          width="100%"
                          src="{{
                            'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/q/' +
                              quality.id +
                              '.jpg'
                          }}"
                        />
                      </div>
                    </div>
                    <div fxFlex="50" style="margin-left: 5px">
                      <div>
                        <div
                          style="cursor: pointer"
                          routerLink="/qualities/quality/{{ quality.id }}"
                        >
                          <b style="color: green; font-size: large">{{
                            quality.name
                          }}</b>
                        </div>
                      </div>
                      <div style="margin-top: 10px">
                        <div *ngIf="quality.tags">
                          <div
                            *ngFor="let a of quality.tags"
                            style="display: inline; color: green"
                          >
                            {{ a }},
                          </div>
                        </div>
                      </div>

                      {{ quality.description }}
                      <!--
                      <div style="height: 25px">
                        
                          <br />
                        <div *ngIf="quality.activities">
                          <div
                            *ngFor="let a of quality.activities"
                            style="display: inline; color: blue"
                          >
                            <b
                              routerLink="/activities/activity/{{ a.id }}"
                              style="cursor: pointer"
                              >#{{ a.name }}
                            </b>
                            ({{ a.count }})
                          </div>
                        </div>
                     </div> -->
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex.gt-sm="40%"></div>
</div>
