<div class="container" style="width: 99%">
  <ng-container *ngTemplateOutlet="header"></ng-container>
  <div style="padding-top: 40px">
    <div class="heroes">
      <div id="parent">
        <mat-tab-group
          [(selectedIndex)]="tab2Index"
          mat-stretch-tabs
          class="example-stretched-tabs mat-elevation-z4"
        >
          <mat-tab label="Virtues">
            <div [ngClass]="'grid-container-mobile-v'">
              <div
                *ngFor="let v of virtueList"
                (click)="selectVirtue(v)"
                class="containerbox-v"
                [ngClass]="v.id"
              >
                <div class="testo-sovrapposto-v">
                  <b>{{ v.name }}</b>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Strenghts" *ngIf="selectedVirtue">
            <app-qualities-list-vertical
              [qualities]="currentqualitites"
              [showAll]="true"
              (notifySelection)="doSomethingQuality($event)"
            ></app-qualities-list-vertical>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<ng-template #header>
  <div
    style="
      float: left;
      width: 100%;
      z-index: 0;
      margin-bottom: 20px;
      background-color: white;
      border: solid grey 1px;
      position: fixed;
      z-index: 10;
    "
  >
    <div style="border-bottom: 0px solid black">
      <button mat-button (click)="backClicked()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      cards
    </div>
  </div>
</ng-template>
