<div *ngIf="isMobile">
  <app-header-simple [isDialog]="isDialog">
    <label descript style="color: white">add a new Activity</label>
  </app-header-simple>
  <div style="padding-top: 40px"></div>
</div>
<div *ngIf="!isMobile && isDialog">
  <div
    mat-dialog-close
    style="
      margin: 5px;
      align-items: center;
      justify-content: center;
      text-decoration: underline;
      cursor: pointer;
    "
  >
    Cancel
  </div>
</div>

<div
  style="
    margin-left: 0px;
    background-color: #ffffff;
    color: black;
    height: 100%;
    border-radius: 15px;
  "
>
  <form class="example-form" #masterForm="ngForm">
    <mat-form-field style="margin-left: 30px; margin-top: 20px">
      <mat-label>name</mat-label>
      <input
        matInput
        placeholder="Vinyasa Yoga"
        [(ngModel)]="newActivity.description"
        name="website"
        #name="ngModel"
        required
      />
    </mat-form-field>
    <br />
    <img *ngIf="imageSrc" [src]="imageSrc" alt="Preview" width="300px" />

    <br />
    <div
      [ngClass]="{
        'div-container-uploadimg': !imageSrc
      }"
      (click)="handleOpenDialog()"
    >
      <mat-icon>add_photo_alternate</mat-icon>
      upload an image
    </div>

    <div class="button-container">
      <button
        (click)="save()"
        [disabled]="!masterForm.form.valid"
        mat-dialog-close
      >
        Save
      </button>
    </div>
  </form>
</div>
