.image-cropper {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}
.image-cropper-xp {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  width: 100%;
}
div.inline {
  float: left;
  /*
  width: 150px;
  */
  text-align: center;
}
div.inlineTag {
  float: left;
  text-align: center;
  color: blue;
  font-size: larger;
}
/* HORIZONTAL SCROLL */
.scroll-container {
  overflow: auto;
  white-space: nowrap;

  background: transparent;
  height: 100%;
  border-radius: 15px;
}

.gridscroll {
  display: inline-block;
}

.gridscroll div {
  display: inline-block;
}

.gridscroll img {
  margin-right: 0px;
  border-radius: 10%;
}

.cerchio {
  width: 12px; /* Imposta la larghezza desiderata per il cerchio */
  height: 12px; /* Imposta l'altezza uguale alla larghezza per renderlo circolare */
  /* Imposta il colore di sfondo */
  border-radius: 30%; /* Imposta il bordo a 50% per renderlo circolare */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Imposta il colore del testo */

  margin-left: 5px;
  margin-right: 5px;

  border: 2px solid black;
}

.contenitore {
  display: flex; /* Utilizza flexbox per posizionare gli elementi sulla stessa linea */
  align-items: center; /* Allinea verticalmente gli elementi al centro */
}

.WI {
  background: rgba(255, 252, 127);
}
.CO {
  background: rgba(3, 138, 255);
}
.HU {
  background: rgba(254, 121, 104);
}
.JU {
  background: rgba(201, 242, 155);
}
.TE {
  background: rgba(255, 148, 112);
}
.TR {
  background: rgba(213, 184, 255);
}
