<div class="scroll-container" style="background-color: black">
  <div class="gridscroll">
    <div *ngFor="let quality of descrioptions">
      <div
        class="xxx"
        *ngIf="quality && quality.description"
        (click)="go(quality)"
      >
        <div class="testodentro">
          <div>
            <div class="slida">
              {{ quality.description }}
            </div>

            <div style="width: 30px" class="footer">
              <app-experience-master-user-pic
                [master_url]="quality.master_img"
                [profile_url]="quality.user_img"
                [profile_id]="quality.user_id"
              >
              </app-experience-master-user-pic>
            </div>
            <div class="user-info">
              <div
                *ngIf="
                  quality.user_id != '1ed79d05-52f2-4cea-9cc7-bba7d34aa420'
                "
              >
                {{ quality.user_name }}
              </div>
              <div
                *ngIf="
                  quality.user_id == '1ed79d05-52f2-4cea-9cc7-bba7d34aa420'
                "
              >
                link
              </div>
              <div>@{{ quality.master_name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
