<div>
  <div id="container">
    <div id="infoi">
      <div class="image-cropper-detail" style="cursor: pointer">
        <img
          *ngIf="!isRepo"
          #prImg
          class="profile-pic"
          src="{{
            'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
              profile_url
          }}"
        />
        <img
          *ngIf="isRepo"
          #prImg
          class="profile-pic"
          src="/assets/black_turtle.jpg"
        />
      </div>
    </div>
    <div id="navi">
      <div class="image-cropper-detail_x" style="cursor: pointer">
        <img
          #mstrImg
          class="profile-pic"
          src="{{
            'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
              master_url
          }}"
        />
      </div>
    </div>
  </div>
</div>
