<div>
  <div id="container">
    <div id="infoi">
      <div class="image-cropper-detail" style="cursor: pointer">
        <img
          #prImg
          class="profile-pic"
          src="{{
            'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
              profile_url
          }}"
          [ngClass]="
            prImg.width >= prImg.height
              ? 'profile-pic-height'
              : 'profile-pic-width'
          "
        />
      </div>
    </div>
    <div id="navi">
      <div class="image-cropper-detail_x" style="cursor: pointer">
        <img
          #mstrImg
          class="profile-pic"
          src="{{
            'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
              master_url
          }}"
          [ngClass]="
            mstrImg.width >= mstrImg.height
              ? 'profile-pic-height'
              : 'profile-pic-width'
          "
        />
      </div>
    </div>
  </div>
</div>
