<div *ngIf="selectedHero | async as heroX">
  <div *ngIf="!isMobile">
    <div fxLayout="row">
      <div fxFlex.gt-sm="45%">
        <ng-container *ngTemplateOutlet="detail"></ng-container>
      </div>
      <div fxFlex.gt-sm="55%">
        <label style="color: gray"
          >{{ heroX.profile.username }} @<b>{{ heroX.master.name }}</b></label
        ><br />
        <br />
        <ng-container *ngTemplateOutlet="detailText"></ng-container>
      </div>
    </div>
    <br />
    <br />

    <app-qualities-list-xp
      [qualities]="heroX.qualities"
      [preselected]="qidSelected"
    >
    </app-qualities-list-xp>
    <br />
    <div style="width: 25%; margin: 0 auto"></div>

    <div style="width: 50%; margin: 0 auto; text-align: center">
      <app-virtues-pie [qualities]="heroX.qualities"></app-virtues-pie>
    </div>
    <br />
    <app-locations></app-locations>
  </div>

  <div *ngIf="isMobile">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div style="padding: 25px"></div>
    <ng-container *ngTemplateOutlet="detail"></ng-container>
    <br />
    <br />
    <ng-container *ngTemplateOutlet="detailText"></ng-container>
    <!--
    <app-qualities-list-grid
      *ngIf="heroX.qualities"
      [qualities]="heroX.qualities"
      [showMore]="true"
    ></app-qualities-list-grid>
  -->

    <div #scrollTargetx id="scrollId"></div>
    <app-qualities-list-xp
      [qualities]="heroX.qualities"
      [preselected]="qidSelected"
    >
    </app-qualities-list-xp>

    <hr />
    <h2 style="text-align: left">Virtues</h2>
    <div style="display: flex; justify-content: center; align-items: center">
      <div style="width: 70%; border: 0px solid black; justify-content: center">
        <app-virtues-pie [qualities]="heroX.qualities"></app-virtues-pie>
      </div>
    </div>
    <div style="margin: 10px">
      <app-locations></app-locations>
    </div>

    <br />
  </div>

  <ng-template #detail>
    <div>
      <app-experience-pic [hero]="heroX"></app-experience-pic>

      <div>
        <div style="width: 100%"></div>
      </div>
    </div>
  </ng-template>

  <ng-template #detailText>
    <div *ngIf="heroX != undefined">
      <ng-container *ngTemplateOutlet="activities"></ng-container>
      <div style="text-align: center"></div>
      <span>
        <mat-icon class="mat-icon-size">location_on</mat-icon>
        {{ heroX.location | locationCompactDetail }}
      </span>
      <br />
      <span>
        <mat-icon class="mat-icon-size">date_range</mat-icon>
        {{ heroX.event_date | date : "MMMM, Y" }}
      </span>
      <br /><br />
      <div style="margin-left: 30px; margin-bottom: 10px">
        {{ heroX.name }}
      </div>
      <app-experience-article [article]="heroX.json"></app-experience-article>
    </div>
  </ng-template>

  <ng-template #activities>
    <span style="display: flex; margin-left: 25px">
      <div *ngIf="heroX.activities" style="text-align: left">
        <i
          style="color: #99c3ff; cursor: pointer"
          *ngFor="let a of heroX.activities"
          routerLink="/activities/activity/{{ a.id }}"
          >• {{ a.description }}<br />
        </i>
      </div>
    </span>
  </ng-template>
  <ng-template #header>
    <div
      style="
        float: left;
        width: 100%;
        z-index: 0;
        margin-bottom: 20px;
        background-color: black;
        border: solid grey 1px;
        position: fixed;
        z-index: 10;
        white-space: nowrap; /* Impedisce il wrapping del testo */
        overflow: hidden; /* Nasconde il testo che supera il contenitore */
      "
    >
      <div style="border-bottom: 0px solid black">
        <button mat-button (click)="backClicked()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <label
          >{{ heroX.profile.username }} @<b>{{ heroX.master.name }}</b></label
        >
        <button
          *ngIf="editEnabled"
          mat-button
          style="
            border: 0px solid black;
            background-color: white;

            position: absolute;
            right: 0;
            z-index: 20;
          "
          [matMenuTriggerFor]="menu"
        >
          <mat-icon class="circle-icon-actions">more_horizon</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</div>

<!-- MENU drop down -->
<mat-menu #menu="matMenu">
  <div style="padding-right: 15px">
    <button
      #btnEdit
      (click)="edit()"
      *ngIf="editEnabled"
      mat-menu-item
      style="float: right; margin-right: 10px; margin-bottom: 10px; color: blue"
    >
      <mat-icon>edit</mat-icon>
      Edit
    </button>

    <button
      #btnDel
      (click)="deleteX()"
      *ngIf="editEnabled"
      mat-menu-item
      style="float: right; margin-right: 10px; margin-bottom: 10px; color: red"
    >
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
</mat-menu>
