div.inline {
  float: left;
  /*width: 150px;*/
  text-align: center;
}
div.inlineTag {
  float: left;
  text-align: center;
  color: blue;
  font-size: larger;
}
.image-cropper {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}
.image-cropper-xp {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  width: 100%;
}

/* HORIZONTAL SCROLL */
.scroll-container {
  overflow: auto;
  white-space: nowrap;

  background: transparent;
  height: 100%;
  border-radius: 15px;
}

.gridscroll {
  display: inline-block;
}

.gridscroll div {
  display: inline-block;
}

.gridscroll img {
  margin-right: 0px;
  border-radius: 10%;
}
