<div class="container" style="width: 99%">
  <div *ngFor="let v of virtueList">
    <h2 style="margin: 10px">{{ v.name }}</h2>

    <div style="margin: 20px">
      {{ v.description }}
    </div>

    <app-qualities-list-grid
      [qualities]="thequalitites | filterByVirtuePipe : v.id"
      [showAll]="true"
      (notifySelection)="doSomethingQuality($event)"
    >
    </app-qualities-list-grid>
    <hr />
  </div>

  <ng-template #header>
    <div
      style="
        float: left;
        width: 100%;
        z-index: 0;
        margin-bottom: 20px;
        background-color: white;
        border: solid grey 1px;
        position: fixed;
        z-index: 10;
      "
    >
      <div style="border-bottom: 0px solid black">
        <button mat-button (click)="backClicked()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        cards
      </div>
    </div>
  </ng-template>
</div>
