<div class="container" style="width: 99%">
  <div>
    <div class="heroes">
      <div id="parent">
        <div>
          <div *ngFor="let quality of qualities" class="child">
            <div style="margin-left: 50px">
              <div fxLayout="row">
                <div fxFlex="50">
                  <div
                    [ngClass]="quality.virtue"
                    class="inline"
                    style="
                      margin-bottom: 50px;
                      float: right;
                      width: 100%;
                      border-radius: 5%;
                      border: solid black 1px;
                    "
                  >
                    <div>
                      <p>
                        <b style="color: green; font-size: large">{{
                          quality.name
                        }}</b>
                      </p>
                    </div>
                    <div style="width: 100%">
                      <img
                        routerLink="/qualities/quality/{{ quality.id }}"
                        style="
                          cursor: pointer;
                          max-width: 200px;
                          border-radius: 5%;
                          width: 95%;
                          text-align: center;
                        "
                        src="{{
                          'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/q/' +
                            quality.id +
                            '.jpg'
                        }}"
                      />
                    </div>

                    <div>
                      <div *ngIf="quality.tags">
                        <div
                          *ngFor="let a of quality.tags"
                          style="display: inline; color: green"
                        >
                          {{ a }},
                        </div>
                      </div>

                      <i style="color: black; font-size: xx-small">
                        {{ quality.virtue | virtueFinder }}
                      </i>
                    </div>
                  </div>
                </div>
                <div fxFlex="50" style="margin-left: 15px; margin-top: 15px">
                  {{ quality.desc_xp }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
