<div style="padding-left: 10px">
  <h1 style="text-align: center">Virtues</h1>
  Cultures around the world have valued the study of human strength and virtue.
  Psychologists have a particular interest in it as they work to encourage
  individuals to develop these traits. While all cultures value human virtues,
  different cultures express or act on virtues in different ways based on
  differing societal values and norms. <br />Martin Seligman and his colleagues
  studied all major religions and philosophical traditions and found that the
  same six virtues (i.e. courage, humanity, justice, etc.) were shared in
  virtually all cultures across three millennia. Since these virtues are
  considered too abstract to be studied scientifically, positive psychology
  practitioners focused their attention on the strengths of character created by
  virtues, and created tools for their measurement. <br /><br />
  <div class="WI">
    <h1>Wisdom and Knowledge</h1>
  </div>
  The more curious and creative we allow ourselves to become, the more we gain
  perspective and wisdom and will, in turn, love what we are learning. This is
  developing the virtue of wisdom and knowledge. Strengths that accompany this
  virtue involve acquiring and using knowledge:
  <ul>
    <a href="/qualities/quality/1"><li>Creativity</li></a>
    <a href="/qualities/quality/2"><li>Curiosity</li></a>
    <a href="/qualities/quality/3"><li>Open-mindedness</li></a>
    <a href="/qualities/quality/4"><li>Love of Learning</li></a>
    <a href="/qualities/quality/5"><li>Perspective and Wisdom</li></a>
  </ul>

  <br />
  <br />
  <div class="CO">
    <h1>Courage</h1>
  </div>
  The braver and more persistent we become, the more our integrity will increase
  because we will reach a state of feeling vital, and this results in being more
  courageous in character. Strengths that accompany this virtue involve
  accomplishing goals in the face of things that oppose it:
  <ul>
    <a href="/qualities/quality/6"><li>Bravery</li></a>
    <a href="/qualities/quality/7"><li>Persistence</li></a>
    <a href="/qualities/quality/8"><li>Integrity</li></a>
    <a href="/qualities/quality/9"><li>Vitality</li></a>
  </ul>

  <br />
  <br />
  <div class="HU">
    <h1>Humanity</h1>
  </div>
  There is a reason why Oprah Winfrey is seen as a symbol of virtue for
  humanitarians: on every show, she approaches her guests with respect,
  appreciation, and interest (social intelligence), she practices kindness
  through her charity work, and she shows her love to her friends and family.
  Strengths that accompany this virtue include caring and befriending others:
  <ul>
    <a href="/qualities/quality/10"><li>Love</li></a>
    <a href="/qualities/quality/11"><li>Kindness</li></a>
    <a href="/qualities/quality/12"><li>Social intelligence</li></a>
  </ul>

  <br />
  <br />
  <div class="JU">
    <h1>Justice</h1>
  </div>
  Mahatma Gandhi was the leader of the Indian independence movement in
  British-ruled India. He led India to independence and helped created movements
  for civil rights and freedom by being an active citizen in nonviolent
  disobedience. His work has been applied worldwide for its universality.
  Strengths that accompany this virtue include those that build a healthy and
  stable community:
  <ul>
    <a href="/qualities/quality/13"><li>Citizenship</li></a>
    <a href="/qualities/quality/14"><li>Fairness</li></a>
    <a href="/qualities/quality/15"><li>Leadership</li></a>
  </ul>

  <br />
  <br />
  <div class="TE">
    <h1>Temperance</h1>
  </div>
  Being forgiving, merciful, humble, prudent, and in control of our behaviors
  and instincts prevents us from being arrogant, selfish, or any other trait
  that is excessive or unbalanced. Strengths that are included in this virtue
  are those that protect against excess:
  <ul>
    <a href="/qualities/quality/16"><li>Forgiveness and mercy</li></a>
    <a href="/qualities/quality/17"><li>Humility and modesty</li></a>
    <a href="/qualities/quality/18"><li>Prudence</li></a>
    <a href="/qualities/quality/19"
      ><li>Self-Regulation and Self-control</li></a
    >
  </ul>

  <br />
  <br />
  <div class="TR">
    <h1>Transcendence</h1>
  </div>
  The Dalai Lama is a transcendent being who speaks openly why he never loses
  hope in humanity’s potential. He also appreciates nature in its perfection and
  lives according to what he believes is his intended purpose. Strengths that
  accompany this virtue include those that forge connections to the larger
  universe and provide meaning:
  <ul>
    <a href="/qualities/quality/20"><li>Appreciation of beauty</li></a>
    <a href="/qualities/quality/21"><li>Gratitude</li></a>
    <a href="/qualities/quality/22"><li>Hope</li></a>
    <a href="/qualities/quality/23"><li>Humor and playfulness</li></a>
    <a href="/qualities/quality/24"><li>Spirituality</li></a>
  </ul>
</div>
