<!--
<mat-card (click)="onSelect(user)" *ngIf="user">
  <div fxLayout="row">
    <div>
      <div
        routerLink="/masters/master/{{ user.id }}"
        style="cursor: pointer; text-align: center; display: inline-block"
      >
        <div class="image-cropper-xp">
          <img
            #mrImgElement
            src="{{
              'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
                user.avatar_url
            }}"
            height="100px"
            class="profile-pic"
          />
        </div>
      </div>
      <br />
      <br />
    </div>
    <div fxFlex="75">
      <b>{{ user.name }}</b>
      <br />

      <span class="name">
        <div *ngIf="user.activities">
          <div>
            <label
              style="color: blue; cursor: pointer"
              *ngFor="let a of user.activities"
              routerLink="/activities/activity/{{ a.id }}"
              >#{{ a.name }}&nbsp;
            </label>
          </div>
        </div>
      </span>
      <div *ngIf="user && user.tot_xps && user.tot_xps > 0">
        experiences: {{ user.tot_xps }}
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="user && user.tot_xps && user.tot_xps > 0">
      Most picked archtipes by heroes

      <app-qualities-list-horizontal
        [qualities]="user.qualities"
        [total]="user.tot_xps"
      ></app-qualities-list-horizontal>
    </div>
  </div>
</mat-card>
-->

<mat-card
  (click)="onSelect(user)"
  *ngIf="user"
  class="half-width-card"
  style="width: 100%; border: 1px solid black"
>
  <div fxLayout="row">
    <div fxFlex="50">
      <div
        routerLink="/masters/master/{{ user.id }}"
        style="cursor: pointer; text-align: center; display: inline-block"
      >
        <div class="image-cropper">
          <img
            #mrImgElement
            src="{{
              'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
                user.avatar_url
            }}"
            height="200px"
            class="profile-pic"
          />
        </div>
      </div>
      <br />
      <br />
    </div>
    <div fxFlex="50" style="margin-left: 25px; width: 100%">
      <b style="font-weight: 10000">{{ user.name }}</b>
      <br />

      <div *ngIf="user && user.tot_xps && user.tot_xps > 0">
        <div *ngFor="let quality of user.qualities; let i = index">
          <div class="contenitore" *ngIf="i < 5">
            <div class="cerchio" [ngClass]="quality.virtue"></div>
            {{ quality.name }} ({{ quality.count }})
          </div>
        </div>
      </div>

      <div
        *ngIf="user && user.tot_xps && user.tot_xps > 0"
        style="display: none"
      >
        experiences: {{ user.tot_xps }}
      </div>
    </div>
  </div>
  <div>
    <span class="name">
      <div *ngIf="user.activities" style="text-align: center">
        <div>
          <label
            style="color: blue; cursor: pointer"
            *ngFor="let a of user.activities"
            routerLink="/activities/activity/{{ a.id }}"
            >• {{ a.description }}&nbsp;
          </label>
        </div>
      </div>
    </span>
  </div>
</mat-card>
