<div *ngIf="activity != undefined">
  <div *ngIf="!isMobile">
    <div fxLayout="row">
      <div fxFlex.gt-sm="100%">
        <div class="two-columns">
          <div class="column2">
            <ng-container *ngTemplateOutlet="detail"></ng-container>
          </div>
          <div class="column1">
            <div style="padding-top: 0px; margin-left: 10px">
              <div
                style="
                  text-align: left;
                  margin-top: 0px;
                  font-style: italic;
                  font-size: small;
                "
              >
                Activity
              </div>
              <h1 style="text-align: left; margin-bottom: 0px">
                {{ activity.description }}
              </h1>

              <div style="margin-top: 15px">
                <div style="margin-left: 15px; margin-top: 5px">
                  <ng-container *ngTemplateOutlet="Activities"></ng-container>
                </div>
              </div>
              <div style="text-align: center; margin: 10px">
                experiences:
                <b>{{ activity.count }}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>

    <!-- <ng-container *ngTemplateOutlet="VirtuePie"></ng-container> -->
    <div
      style="
        border: 1px solid black;
        border: 0px solid black;
        position: relative;
        z-index: 1;
        top: -80px;
      "
    >
      <br />

      <ng-container *ngTemplateOutlet="prospect"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="masters"></ng-container>
  </div>
  <div *ngIf="isMobile">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div style="width: 100%; padding-top: 40px"></div>

    <ng-container *ngTemplateOutlet="detailXp"></ng-container>

    <div>
      <div style="width: 100%; border: 0 white">
        <div
          style="
            text-align: left;
            margin-left: 25px;
            margin-top: 15px;
            border: 0px solid white;
          "
        >
          experiences:
          <b>{{ activity.xps_count }}</b>
          masters:
          <b>{{ activity.master_count }}</b>
        </div>
        DIOPORCO
        <app-free-qualities-prospect
          [freequalities]="freequalities"
        ></app-free-qualities-prospect>
      </div>
    </div>

    <div style="position: relative; z-index: 1; top: -30px">
      DIOCANE
      <ng-container *ngTemplateOutlet="masters"></ng-container>
    </div>
  </div>

  <ng-template #detailXp>
    <div>
      <div style="width: 100%" class="inline">
        <div
          style="
            border: 0px solid black;
            position: relative;
            z-index: 1;
            top: -50px;
          "
        >
          <app-virtues-pie-combo
            [qualities]="activity.qualities"
            [imgurl]="activity.img_url"
            [type]="!isMobile ? 'reduced' : 'full'"
          ></app-virtues-pie-combo>

          <ng-container *ngTemplateOutlet="Activities"></ng-container>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #detailDesc>
    <div>
      <div style="width: 100%" class="inline">
        <div style="display: flex; justify-content: center">
          <div class="image-main">
            <img
              src="{{
                'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
                  activity.img_url
              }}"
              class="profile-pic"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- MENU drop down -->
  <mat-menu #menu="matMenu">
    <div style="padding-right: 15px">
      <button
        (click)="edit()"
        mat-menu-item
        style="margin-right: 10px; margin-bottom: 10px; color: blue"
      >
        <mat-icon class="circle-icon-actions-item">edit</mat-icon>
        edit
      </button>
    </div>
  </mat-menu>

  <ng-template #detail>
    <div>
      <div style="width: 100%" class="inline">
        <div
          style="
            border: 0px solid black;
            position: relative;
            z-index: 1;
            top: -50px;
          "
        >
          <app-virtues-pie-combo
            [qualities]="activity.qualities"
            [imgurl]="activity.img_url"
            [type]="!isMobile ? 'reduced' : 'full'"
          ></app-virtues-pie-combo>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #VirtuePie>
    <div style="width: 100%">
      <div style="display: flex; justify-content: center; align-items: center">
        <div
          style="width: 80%; border: 0px solid black; justify-content: center"
        ></div>
      </div>
    </div>

    <br />
  </ng-template>

  <ng-template #masters>
    <div class="inline" style="width: 100%; border-top: 0px solid gray">
      <h2
        *ngIf="theSearch?.location"
        style="text-align: left"
        style="text-align: left; margin-left: 25px"
      >
        Masters in {{ theSearch?.location }}
      </h2>
      <h2
        *ngIf="!theSearch?.location"
        style="text-align: left"
        style="text-align: left; margin-left: 25px"
      >
        Masters
      </h2>

      <div
        *ngIf="search | async as x"
        style="text-align: left; margin-left: 25px"
      >
        <div *ngIf="x.arr.length > 0">with the following qualities:</div>
        <div style="margin: 5px">
          <mat-chip-list>
            <mat-chip
              style="color: black; border: 1px solid black"
              *ngFor="let a of x.arr"
              [ngClass]="a | virtueColorFinderByStrenghtId"
            >
              {{ a | nameStrenghtFinder }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <mat-grid-list
        cols="2"
        rowHeight="200px"
        style="margin: 5px; padding: 5px"
      >
        <ng-container *ngFor="let master of activity.masters">
          <mat-grid-tile [colspan]="!isMobile ? 1 : 2">
            <div style="width: 100%; height: 100%; margin: 5px">
              <app-master-item [user]="master"></app-master-item>
            </div>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </div>
  </ng-template>
  <ng-template #header>
    <div
      style="
        float: left;
        width: 100%;
        z-index: 0;
        margin-bottom: 0px;
        background-color: black;
        border: solid grey 1px;
        position: fixed;
        z-index: 10;
      "
    >
      <div style="border-bottom: 0px solid black">
        <button mat-button (click)="backClicked()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        activity: <b>{{ activity.description }}</b>
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          style="border: 0px solid black; background-color: black; float: right"
        >
          <mat-icon class="circle-icon-actions">more_horizon</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #prospect>
    <div>
      <app-free-qualities-prospect [freequalities]="freequalities">
      </app-free-qualities-prospect>
      <hr />
      <div style="display: BLOCK">
        <h2 style="text-align: left">Cards</h2>

        <app-qualities-horizontal-compact
          [qualities]="activity.qualities"
          [total]="activity.xps_count"
        ></app-qualities-horizontal-compact>
      </div>
    </div>
  </ng-template>

  <ng-template #Activities>
    <div class="jojo" style="font-weight: bold; margin-bottom: 10px">
      Vision
    </div>
    <div style="margin-left: 20px; margin-right: 10px">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrum exercitationem ullamco laboriosam, activity.description
    </div>
    <div style="text-align: right; margin-right: 20px; font-style: italic">
      <a
        target="_blank"
        style="
          text-decoration: none;
          color: inherit;
          margin-right: 20px;
          margin-top: 10px;
        "
      >
        activity.website
      </a>
    </div>
  </ng-template>
</div>
