<div *ngIf="activity != undefined">
  <div *ngIf="!isMobile">
    <div fxLayout="row">
      <div fxFlex.gt-sm="70%">
        <div class="two-columns">
          <div class="column1">
            <ng-container *ngTemplateOutlet="detailDesc"></ng-container>
          </div>
          <div class="column2">
            <div style="padding-top: 0px; margin-left: 10px">
              <h1 style="text-align: left; margin-bottom: 0px">
                {{ activity.description }}
              </h1>

              <div style="text-align: left">
                experiences:
                <b>{{ activity.xps_count }}</b>
              </div>

              <div style="text-align: left">
                masters:
                <b>{{ activity.master_count }}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    <ng-container *ngTemplateOutlet="prospect"></ng-container>
  </div>
  <div *ngIf="isMobile">
    <ng-container *ngTemplateOutlet="header"></ng-container>
    <div style="width: 100%; padding-top: 40px"></div>
    <ng-container *ngTemplateOutlet="detailXp"></ng-container>

    <ng-container *ngTemplateOutlet="prospect"></ng-container>
  </div>

  <ng-template #detailXp>
    <div>
      <div style="width: 100%" class="inline">
        <div>
          <div style="width: 100%; margin: 10px">
            <div>
              <h1 style="text-align: left">
                {{ activity.description }}
              </h1>
            </div>
          </div>
        </div>
        <div style="display: flex; justify-content: center">
          <div class="image-main">
            <img
              src="{{
                'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
                  activity.img_url
              }}"
              class="profile-pic"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #detailDesc>
    <div>
      <div style="width: 100%" class="inline">
        <div style="display: flex; justify-content: center">
          <div class="image-main">
            <img
              src="{{
                'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
                  activity.img_url
              }}"
              class="profile-pic"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- MENU drop down -->
  <mat-menu #menu="matMenu">
    <div style="padding-right: 15px">
      <button
        (click)="edit()"
        mat-menu-item
        style="margin-right: 10px; margin-bottom: 10px; color: blue"
      >
        <mat-icon class="circle-icon-actions-item">edit</mat-icon>
        edit
      </button>
    </div>
  </mat-menu>

  <ng-template #detail>
    <div>
      <div *ngIf="activity != undefined" style="width: 100%" class="inline">
        <h1 style="text-align: center">{{ activity.description }}</h1>
        <div style="color: blue">
          <b>#{{ activity.name }}</b>
        </div>

        <br />
        <div style="color: blue">
          <a
            *ngIf="activity.description"
            href="{{ activity.description | replace : ' ' : '+' }}"
            target="_blank"
            ><img
              style="width: 50px"
              class="img-responsive"
              src="assets/gg.png"
          /></a>
        </div>

        <button
          (click)="edit()"
          mat-stroked-button
          style="margin-right: 10px; margin-bottom: 10px; color: blue"
        >
          Edit
        </button>
        <br />
        <br />
        <div style="text-align: center">
          experiences:
          <b>{{ activity.xps_count }}</b>
        </div>

        <div style="text-align: center">
          masters:
          <b>{{ activity.master_count }}</b>
        </div>
        <br />
      </div>
    </div>
  </ng-template>

  <ng-template #VirtuePie>
    <div style="width: 100%">
      <div style="display: flex; justify-content: center; align-items: center">
        <div
          style="width: 80%; border: 0px solid black; justify-content: center"
        ></div>
      </div>
    </div>

    <br />
  </ng-template>

  <ng-template #prospect>
    <div style="border-top: 0px solid gray">
      <app-qualities-accordion-list
        [qualities]="activity.qualities"
        [tot_xps]="activity.xps_count"
      >
      </app-qualities-accordion-list>
    </div>
    <br />

    <div class="inline" style="width: 100%; border-top: 0px solid gray">
      <h2
        *ngIf="theSearch?.location"
        style="text-align: left"
        style="text-align: left; margin-left: 25px"
      >
        Masters in {{ theSearch?.location }}
      </h2>
      <h2
        *ngIf="!theSearch?.location"
        style="text-align: left"
        style="text-align: left; margin-left: 25px"
      >
        Masters
      </h2>

      <div
        *ngIf="search | async as x"
        style="text-align: left; margin-left: 25px"
      >
        <div *ngIf="x.arr">with the following qualities:</div>
        <div style="margin: 5px">
          <mat-chip-list>
            <mat-chip
              style="color: black; border: 1px solid black"
              *ngFor="let a of x.arr"
              [ngClass]="a | virtueColorFinderByStrenghtId"
            >
              {{ a | nameStrenghtFinder }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <mat-grid-list
        cols="2"
        rowHeight="200px"
        style="margin: 5px; padding: 5px"
      >
        <ng-container *ngFor="let master of activity.masters">
          <mat-grid-tile [colspan]="!isMobile ? 1 : 2">
            <div style="width: 100%; height: 100%; margin: 5px">
              <app-master-item [user]="master"></app-master-item>
            </div>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </div>
  </ng-template>
  <ng-template #header>
    <div
      style="
        float: left;
        width: 100%;
        z-index: 0;
        margin-bottom: 0px;
        background-color: black;
        border: solid grey 1px;
        position: fixed;
        z-index: 10;
      "
    >
      <div style="border-bottom: 0px solid black">
        <button mat-button (click)="backClicked()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        activity: <b>{{ activity.description }}</b>
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          style="border: 0px solid black; background-color: black; float: right"
        >
          <mat-icon class="circle-icon-actions">more_horizon</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</div>
