div.inline {
  float: left;
  text-align: center;
}

div.inlineTag {
  float: left;
  text-align: left;
  color: blue;
}
.image-cropper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  width: 100%;
}

.image-main {
  width: 100%;
  border-radius: 0%;
  overflow: hidden;

  border: solid black 0px;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  width: 100%;
}

.my-custom-grid {
  background-color: black; /* Sfondo nero */
  color: white; /* Testo bianco */
}

/*same as master detail to be commonized*/
.two-columns {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.column1 {
  border: 0px solid gray;
  width: 45%;
}
.column2 {
  border: 0px solid gray;
  margin-left: 0px;
  width: 55%;
}

.WI {
  background-color: rgba(255, 252, 127);
}
.CO {
  background-color: rgba(3, 138, 255);
}
.HU {
  background-color: rgba(254, 121, 104);
}
.JU {
  background-color: rgba(201, 242, 155);
}
.TE {
  background-color: rgba(255, 148, 112);
}
.TR {
  background-color: rgba(213, 184, 255);
}
