div.inline {
  float: left;
  text-align: center;
}

div.inlineTag {
  float: left;
  text-align: left;
  color: blue;
}
.image-cropper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  width: 100%;
}

.image-main {
  width: 70%;
  border-radius: 5%;
  overflow: hidden;

  border: solid black 0px;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  width: 100%;
}
