<div fxLayout="row" *ngIf="!isMobile">
  <div fxFlex.gt-sm="60%">
    <h2>Masters</h2>

    <div style="width: 99%">
      <button [routerLinkActive]="'active'" routerLink="/addMaster">
        Add New Master
      </button>
      <div *ngFor="let master of masters | async">
        <app-master-item [user]="master"> </app-master-item>
        <br />
      </div>
    </div>
  </div>
  <div fxFlex.gt-sm="40%">
    <app-search-composite
      (notifyParent)="getNotification($event)"
    ></app-search-composite>
  </div>
</div>

<div *ngIf="isMobile">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    [(selectedIndex)]="indxTab"
  >
    <mat-tab label="Masters">
      <div *ngFor="let master of masters | async">
        <app-master-item [user]="master"> </app-master-item>
        <br />
      </div>
    </mat-tab>
    <mat-tab label="Search">
      <app-search-composite
        (notifyParent)="getNotification($event)"
      ></app-search-composite>
    </mat-tab>
    <mat-tab label="New">
      <app-master-insert></app-master-insert>
    </mat-tab>
  </mat-tab-group>
</div>
