<div id="container" *ngIf="hero != undefined" style="color: white">
  <div id="infoi" style="text-align: center">
    <div *ngIf="hero.json">
      <div
        class="image-cropper-detail"
        routerLink="/users/user/{{ hero.profile.id }}"
        style="cursor: pointer"
      >
        <img #prImg class="profile-pic" src="/assets/black_turtle.jpg" />
      </div>
      <label>reported by InnerNautic </label>
    </div>
    <div *ngIf="!hero.json">
      <div
        class="image-cropper-detail"
        routerLink="/users/user/{{ hero.profile.id }}"
        style="cursor: pointer"
      >
        <img
          #prImg
          class="profile-pic profile-pic-width"
          src="{{
            'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
              hero.profile.avatar_url
          }}"
        />
      </div>
      {{ hero.profile.username }}
    </div>
  </div>
  <div id="navi" style="text-align: center">
    {{ hero.master.name }}
    <div
      class="image-cropper-detail_x"
      routerLink="/masters/master/{{ hero.master.id }}"
      style="cursor: pointer"
    >
      <img
        #mstrImg
        [ngClass]="
          mstrImg.width >= mstrImg.height
            ? 'profile-pic-height'
            : 'profile-pic-width'
        "
        class="profile-pic"
        src="{{
          'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
            hero.master.avatar_url
        }}"
        alt=""
      />
    </div>
  </div>
</div>
