<div id="container" *ngIf="hero != undefined" style="color: white">
  <div id="infoi" style="text-align: center">
    <div
      class="image-cropper-detail"
      routerLink="/users/user/{{ hero.profile.id }}"
      style="cursor: pointer"
    >
      <img
        #prImg
        [ngClass]="
          prImg.width >= prImg.height
            ? 'profile-pic-height'
            : 'profile-pic-width'
        "
        class="profile-pic"
        src="{{
          'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
            hero.profile.avatar_url
        }}"
      />
    </div>
    <label *ngIf="hero.json">reported by: </label>{{ hero.profile.username }}
  </div>
  <div id="navi" style="text-align: center">
    {{ hero.master.name }}
    <div
      class="image-cropper-detail_x"
      routerLink="/masters/master/{{ hero.master.id }}"
      style="cursor: pointer"
    >
      <img
        #mstrImg
        [ngClass]="
          mstrImg.width >= mstrImg.height
            ? 'profile-pic-height'
            : 'profile-pic-width'
        "
        class="profile-pic"
        src="{{
          'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
            hero.master.avatar_url
        }}"
        alt=""
      />
    </div>
  </div>
</div>
