div.inline {
  float: left;
  width: 29%;
  text-align: center;
  height: 450px;
}
div.inlineTag {
  float: left;
  text-align: left;
  color: blue;
}
div.widthMobile {
  width: 98%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: inline;
  margin-right: 15px;
}
.image-cropper {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}
.image-cropper-xp {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  width: 100%;
}
.heightMobile {
  height: 135px;
}
