<div style="padding-top: 50px">
  <div *ngIf="selectedMaster">
    <div fxLayout="row">
      <!--
      <div fxFlex="">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Master</mat-label>
            <input
              type="text"
              placeholder="Pick one"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let master of myMasters"
                [value]="master.name"
                (click)="setSelected(master)"
              >
                {{ master.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      
      </div>
      -->

      <div fxLayout="row">
        <div style="margin-right: 10px">
          <div>
            <div class="image-cropper-xp">
              <img
                src="{{
                  'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
                    selectedMaster.avatar_url
                }}"
                height="100px"
                class="profile-pic"
              />
            </div>
          </div>
          <br />
          <br />
        </div>
        <div>
          <b>{{ selectedMaster.name }}</b>
          <br />
          <br />
          activities:
          <br />

          <span class="name">
            <div *ngIf="selectedMaster.activities">
              <div>
                <label
                  style="color: blue; cursor: pointer; font-weight: bold"
                  *ngFor="let a of selectedMaster.activities"
                  routerLink="/activities/activity/{{ a.id }}"
                  >#{{ a.name }}&nbsp;
                </label>
              </div>
            </div>
          </span>
        </div>
        <div>
          <button (click)="save()">save</button>
        </div>
      </div>
    </div>
  </div>

  <textarea
    [(ngModel)]="textareaValue"
    style="width: 95%"
    matInput
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="3"
    cdkAutosizeMaxRows="10"
  ></textarea>

  <br />
  <div style="display: block">
    <label>date: </label>
    <input
      type="date"
      #createdAt
      [ngModel]="event_date | date : 'yyyy-MM-dd'"
      (ngModelChange)="event_date = $event"
      [value]="event_date | date : 'yyyy-MM-dd'"
    />
  </div>
  <br />
  <div>
    {{ location }}
    <input
      style="width: 95%"
      type="text"
      class="my-search-box"
      (keydown.enter)="$event.preventDefault()"
      placeholder="Search Location"
      type="text"
      #search
    />
  </div>
  <br />

  <div>
    <ul>
      <li *ngFor="let quality of qualities | async">
        <mat-checkbox
          (change)="updateItem(quality)"
          [checked]="quality.selected"
        >
          {{ quality.name }}
        </mat-checkbox>
      </li>
    </ul>
  </div>

  <br />

  <div *ngFor="let quality of qualities | async">
    <div
      *ngIf="quality.selected == true"
      [ngClass]="{ inline: !isMobile, widthMobile: isMobile }"
      style="
        border: solid gray 1px;
        padding: 5px;
        margin: 1px;
        border-radius: 5%;
        float: left;
      "
    >
      <img
        style="border-radius: 3%"
        width="99%"
        src="{{
          'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/q/' +
            quality.id +
            '.jpg'
        }}"
      />
      <div style="color: green; margin-left: 30; height: 35px">
        <b>{{ quality.name }} </b>

        <div style="color: gray" [ngClass]="{ heightMobile: !isMobile }">
          {{ quality.description }}
        </div>
      </div>
    </div>
  </div>
</div>
