div.inline {
  float: left;
  width: 29%;
  text-align: center;
  height: 500px;
}
div.inlineTag {
  float: left;
  text-align: left;
  color: blue;
}
div.widthMobile {
  width: 98%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: inline;
  margin-right: 15px;
}
.image-cropper {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}
.image-cropper-xp {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid black;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
}
.profile-pic-height {
  height: 100%;
}
.profile-pic-width {
  width: 100%;
}

/* container */
.three-columns-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

/* columns */
.three-columns-grid > * {
  padding: 1rem;
}
