<div *ngIf="!isMobile" class="container" style="padding-top: 50px">
  <div fxLayout="row">
    <div fxFlex.gt-sm="15%">
      <app-menu-list [session]="session"></app-menu-list>
    </div>
    <div fxFlex.gt-sm="66%">
      <div
        class="container"
        style="
          width: 99%;
          border-left: 1px solid #172727;
          border-right: 1px solid #172727;
          padding-right: 10px;
          padding-left: 10px;
        "
      >
        <router-outlet></router-outlet>
      </div>
    </div>
    <div fxFlex.gt-sm="19%">
      <app-search-composite placeHolder="Search"></app-search-composite>
    </div>
  </div>
</div>

<div *ngIf="isMobile" class="container">
  <div class="container" style="width: 99%; padding-bottom: 40px">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
