<div
  *ngIf="!isMobile"
  class="container"
  [ngClass]="{ class1: !isMobile }"
  style="padding-top: 50px"
>
  <div fxLayout="row">
    <div fxFlex.gt-sm="15%">
      <app-menu-list [session]="session"></app-menu-list>
    </div>
    <div fxFlex.gt-sm="85%">
      <div class="container" style="width: 99%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isMobile" class="container">
  <div class="container" style="width: 99%; padding-bottom: 40px">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
