<div *ngIf="selectedHero | async as heroX">
  <div *ngIf="!isMobile">
    <div fxLayout="row">
      <div fxFlex.gt-sm="60%">
        <ng-container *ngTemplateOutlet="detail"></ng-container>
      </div>
      <div fxFlex.gt-sm="40%">
        <app-virtues-pie [qualities]="heroX.qualities"></app-virtues-pie>
      </div>
    </div>
    <br />
    <ng-container *ngTemplateOutlet="detailText"></ng-container>
    <h1 style="text-align: center">Strenghts</h1>
    <app-qualities-list-grid
      *ngIf="heroX.qualities"
      [qualities]="heroX.qualities"
    ></app-qualities-list-grid>
    <app-locations></app-locations>
  </div>

  <div *ngIf="isMobile">
    <ng-container *ngTemplateOutlet="detail"></ng-container>
    <br />
    <ng-container *ngTemplateOutlet="detailText"></ng-container>
    <app-virtues-pie [qualities]="heroX.qualities"></app-virtues-pie>

    <h1 style="text-align: center">Strenghts</h1>
    <app-qualities-list-vertical
      *ngIf="heroX.qualities"
      [qualities]="heroX.qualities"
    ></app-qualities-list-vertical>
    <div style="margin: 10px">
      <app-locations></app-locations>
    </div>

    <br />
  </div>

  <ng-template #detail>
    <button
      #btnEdit
      (click)="edit()"
      *ngIf="editEnabled"
      mat-stroked-button
      style="float: right; margin-right: 10px; margin-bottom: 10px; color: blue"
    >
      Edit
    </button>

    <button
      #btnDel
      (click)="deleteX()"
      *ngIf="editEnabled"
      mat-stroked-button
      style="float: right; margin-right: 10px; margin-bottom: 10px; color: red"
    >
      Delete
    </button>

    <div>
      <div style="padding: 15px">
        <app-experience-pic [hero]="heroX"></app-experience-pic>
      </div>

      <div>
        <div style="width: 100%"></div>
      </div>
    </div>
  </ng-template>

  <ng-template #detailText>
    <div *ngIf="heroX != undefined">
      <ng-container *ngTemplateOutlet="activities"></ng-container>
      <div style="text-align: center"></div>
      <span>
        <mat-icon class="mat-icon-size">location_on</mat-icon>
        {{ heroX.location | locationCompactDetail }}
      </span>
      <br />
      <span>
        <mat-icon class="mat-icon-size">date_range</mat-icon>
        {{ heroX.event_date | date : "MMMM, Y" }}
      </span>
      <br /><br />
      <div>
        {{ heroX.name }}
      </div>
    </div>
  </ng-template>

  <ng-template #activities>
    <span style="display: flex; margin-left: 25px">
      <div *ngIf="heroX.activities" style="text-align: right">
        <i
          style="color: blue; cursor: pointer"
          *ngFor="let a of heroX.activities"
          routerLink="/activities/activity/{{ a.id }}"
          >#{{ a.name }}&nbsp;
        </i>
      </div>
    </span>
  </ng-template>
</div>
