<div class="grid-container">
  <div
    class="grid-item"
    *ngFor="let quality of qualities"
    style="border: solid gray 1px; padding: 0; width: 95%; border-radius: 5%"
  >
    <img
      style="
        border-radius: 3%;
        width: 98%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        cursor: pointer;
      "
      routerLink="/qualities/quality/{{ quality.id }}"
      src="{{
        'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/q/' +
          quality.id +
          '.jpg'
      }}"
    />
    <div style="height: 35px; text-align: center; display: table; width: 100%">
      <div style="display: table-cell; vertical-align: middle">
        <b style="color: green">{{ quality.name }} </b>
        <p *ngIf="quality.count != undefined && total != undefined">
          {{ quality.count | percentageQuality : total }} %
        </p>
      </div>
    </div>
  </div>
</div>
