.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 10px;
}
.grid-container-mobile {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-columns: 33% 33% 33%;

  padding: 10px;
}
.grid-item {
  width: 99%;
  margin: 10px;
  padding: 10px;
}
div.inline {
  display: left;

  text-align: center;
}

.text-overlay {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  position: absolute; /* Imposta il testo come posizione assoluta rispetto al contenitore */
  bottom: 0%; /* Posiziona il testo al centro verticale del contenitore */
  right: 0%; /* Posiziona il testo al centro orizzontale del contenitore */
  transform: translate(
    0%,
    0%
  ); /* Muove il testo indietro di metà della sua larghezza e altezza per centrarlo perfettamente */
  background: rgba(0, 0, 0, 0.5);

  color: white; /* Colore del testo */
  padding: 10px; /* Padding intorno al testo */
}

.image-container {
  position: relative; /* Imposta il contenitore come posizione relativa per posizionare gli elementi interni */
  text-align: center; /* Allinea il testo al centro orizzontalmente */
}
