.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
}
.grid-item {
  width: 99%;
  margin: 10px;
  padding: 10px;
}
div.inline {
  display: left;

  text-align: center;
}
