<div fxLayout="row" *ngIf="!isMobile">
  <div fxFlex.gt-sm="99%">
    <div style="width: 99%">
      <p>
        <b style="font-size: x-large">Activities</b
        ><button
          [routerLinkActive]="'active'"
          routerLink="/addActivity"
          mat-stroked-button
          style="
            margin-right: 10px;
            margin-bottom: 10px;
            color: blue;
            float: right;
          "
        >
          Add New Activity
        </button>
      </p>
      <br />
      <div>
        <mat-grid-list cols="2" rowHeight="190px">
          <ng-container *ngFor="let a of activities | async">
            <mat-grid-tile colspan="1">
              <div style="width: 100%; height: 100%">
                <app-activity-item [activity]="a"></app-activity-item>
              </div>
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isMobile">
  <div *ngFor="let a of activities | async">
    <app-activity-item [activity]="a"></app-activity-item>
  </div>
</div>
