<mat-dialog-content
  style="max-height: 100%; padding: 0px"
  [ngClass]="{ 'desktop-style': !isMobile }"
>
  <ng-container *ngTemplateOutlet="composite"></ng-container>

  <ng-template #composite>
    <div class="container">
      <div class="icon-left" *ngIf="isMobile">
        <div mat-dialog-close>
          <mat-icon class="circle-icon, icon-back">arrow_back</mat-icon>
        </div>
      </div>
      <div>
        <form class="example-form">
          <br />
          <input
            type="text"
            placeholder="place, city, region, country"
            [formControl]="control"
            [matAutocomplete]="auto"
            [(ngModel)]="searchLoc"
            style="width: 100%"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let street of filteredStreets | async"
              [value]="street"
            >
              {{ street }}
            </mat-option>
          </mat-autocomplete>
        </form>

        <br />
      </div>

      <div class="icon-right">
        <div (click)="sendNotification()" mat-dialog-close>
          <mat-icon class="circle-icon">search</mat-icon>
        </div>
      </div>
    </div>

    <div style="padding-left: 15px">
      <div
        [ngClass]="isMobile ? 'flex-container' : 'flex-container-desk'"
        *ngIf="true"
      >
        <div
          [ngClass]="isMobile ? 'flex-item' : 'flex-item-desk'"
          *ngFor="let el of hashMap.keys()"
          style="
            border: 0px solid green;
            margin: 5px;
            padding: 5px;
            width: 45%;
            border-radius: 10%;
          "
        >
          <div
            style="
              width: 100%;
              border: 0px solid black;
              text-align: left;
              border-radius: 10%;
            "
            [ngClass]="el"
          >
            <b style="width: 100%; border: 0px solid black">
              {{ el | virtueFinder }}
            </b>
          </div>

          <div *ngFor="let quality of hashMap.get(el)?.values()">
            <mat-checkbox
              (change)="updateItem(quality)"
              [checked]="quality.selected"
            >
              {{ quality.name }}
            </mat-checkbox>
          </div>
        </div>
      </div>

      <div *ngIf="false">
        <ul>
          <div *ngFor="let el of hashMap.keys()">
            <br />
            <p [ngClass]="el">
              <b>
                {{ el | virtueFinder }}
              </b>
            </p>

            <hr />
            <li *ngFor="let quality of hashMap.get(el)?.values()">
              <mat-checkbox
                (change)="updateItem(quality)"
                [checked]="quality.selected"
              >
                {{ quality.name }}
              </mat-checkbox>
            </li>
          </div>
        </ul>
      </div>
      <br />
      <button
        (click)="sendNotification()"
        mat-stroked-button
        mat-dialog-close
        style="
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
          color: blue;
        "
      >
        Search
      </button>
    </div>
  </ng-template>
</mat-dialog-content>
