<div style="padding-left: 15px">
  <input
    type="search"
    [(ngModel)]="search"
    [placeholder]="placeHolder"
  /><br /><br />
  <button
    (click)="sendNotification()"
    mat-button
    mat-stroked-button
    style="margin-right: 10px; margin-bottom: 10px; color: blue"
  >
    Search
  </button>
  <br /><br />

  <div>
    <ul>
      <div *ngFor="let el of hashMap.keys()">
        <br />
        <p [ngClass]="el">
          <b>
            {{ el | virtueFinder }}
          </b>
        </p>

        <hr />
        <li *ngFor="let quality of hashMap.get(el)?.values()">
          <mat-checkbox
            (change)="updateItem(quality)"
            [checked]="quality.selected"
          >
            {{ quality.name }}
            <!--
            <span *ngIf="quality.tags">
              (<i *ngFor="let t of quality.tags">{{ t }},</i>)
            </span>
            -->
          </mat-checkbox>
        </li>
      </div>
    </ul>
  </div>
  <br />
  <button
    (click)="sendNotification()"
    mat-stroked-button
    style="float: left; margin-right: 10px; margin-bottom: 10px; color: blue"
  >
    Search
  </button>
</div>
