div.inline {
  float: left;
  width: 150px;
  text-align: center;
}
div.inlineTag {
  float: left;
  text-align: center;
  color: blue;
  font-size: larger;
}
.cerchio {
  width: 7px;
  height: 7px;
  border-radius: 35%;
  background-color: #000; /* Imposta il colore di sfondo del cerchio */
  color: white;
  margin: 5px;
  border: 1px solid black;
  display: inline-block; /* Imposta il cerchio come elemento inline-block */
  vertical-align: middle; /* Allinea il cerchio verticalmente al centro del contenuto */
}

.contenitore {
  font-size: x-small;
  border: 0px solid black;
  margin-right: 5px; /* Aggiunge margine a destra per separare gli elementi */
  white-space: nowrap; /* Impedisce il testo di andare a capo */
  display: inline-flex; /* Utilizza flexbox per posizionare gli elementi sulla stessa linea */
}

mat-grid-list {
  margin: -8px; /* Imposta un margine negativo per ridurre lo spazio tra le righe */
}

mat-grid-tile {
  padding: 8px; /* Imposta il padding per mantenere uno spazio uniforme intorno ai mat-grid-tile */
}

.background-div {
  background-size: cover; /* Imposta la dimensione dell'immagine per coprire l'intero div */
  background-position: center; /* Imposta la posizione dell'immagine al centro del div */
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.centra-testo {
  display: flex;
  justify-content: center; /* Allinea orizzontalmente al centro */
  align-items: center; /* Allinea verticalmente al centro */
  border: 0px solid black;
}

.overlay-text {
  position: absolute; /* Imposta la posizione assoluta rispetto al contenitore */
  top: 0%; /* Posiziona il testo verticalmente al centro */
  left: 0%; /* Posiziona il testo orizzontalmente al centro */

  color: white; /* Colore del testo */

  padding: 10px; /* Spaziatura interna per il testo */
}

.WI {
  background: rgba(255, 252, 127);
}
.CO {
  background: rgba(3, 138, 255);
}
.HU {
  background: rgba(254, 121, 104);
}
.JU {
  background: rgba(201, 242, 155);
}
.TE {
  background: rgba(255, 148, 112);
}
.TR {
  background: rgba(213, 184, 255);
}

.two-columns {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.column1 {
  border: 0px solid gray;
  width: 40%;
}
.column2 {
  border: 0px solid gray;
  margin-left: 5px;
  width: 60%;
}
