<div *ngIf="isMobile">
  <ng-container *ngTemplateOutlet="header"></ng-container>
  <div style="padding-top: 50px"></div>
</div>

<div style="color: black; background-color: black; color: white">
  <div *ngIf="selectedMaster">
    <div fxLayout="row">
      <div style="margin: 10px">
        <div>
          <div class="image-cropper-xp">
            <img
              #hdImage
              src="{{
                'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
                  selectedMaster.avatar_url
              }}"
              class="profile-pic"
              [ngClass]="
                hdImage.width >= hdImage.height
                  ? 'profile-pic-height'
                  : 'profile-pic-width'
              "
            />
          </div>
        </div>
        <br />
        <br />
      </div>
      <div>
        <br />
        <b>{{ selectedMaster.name }}</b>
        <br />

        <span class="name">
          <div *ngIf="selectedMaster.activities">
            <div>
              <br />
              <label
                style="
                  cursor: pointer;
                  font-style: italic;
                  cursor: pointer;
                  display: block;
                  text-align: left;
                "
                class="linkColor"
                *ngFor="let a of selectedMaster.activities"
                routerLink="/activities/activity/{{ a.id }}"
                >• {{ a.description }}
              </label>
            </div>
          </div>
        </span>
        <div>
          <br />
          <button
            mat-stroked-button
            style="margin-right: 10px; margin-bottom: 10px; color: blue"
            (click)="save()"
          >
            save
          </button>
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" #hidden />

  <textarea
    class="custom-textarea"
    placeholder="Experience description"
    [(ngModel)]="textareaValue"
    style="width: 95%; border: 1px solid gray; margin: 10px"
    matInput
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="3"
    cdkAutosizeMaxRows="10"
  ></textarea>

  <br />
  <div style="display: block; margin: 10px">
    <input
      class="custom-date-input"
      type="date"
      #createdAt
      [ngModel]="event_date | date : 'yyyy-MM-dd'"
      (ngModelChange)="event_date = $event"
      [value]="event_date | date : 'yyyy-MM-dd'"
      style="background-color: balck; color: white"
    />
  </div>

  <div>
    <input
      style="width: 95%; margin: 10px; background-color: black; color: white"
      type="text"
      class="my-search-box custom-textarea"
      (keydown.enter)="$event.preventDefault()"
      placeholder="Search Location"
      type="text"
      [value]="location"
      #search
    />
  </div>
  <br />
  <!--
  <div>
    <ul>
      <li *ngFor="let quality of qualities | async">
        <mat-checkbox
          (change)="updateItem(quality)"
          [checked]="quality.selected"
        >
          {{ quality.name }}
        </mat-checkbox>
      </li>
    </ul>
  </div>
 -->

  <div
    *ngIf="article"
    style="border: 2px solid black; margin: 5px; padding: 5px"
  >
    full article document<br /><button (click)="copy()">copy</button>
    <app-experience-article [article]="article" [test]="true">
    </app-experience-article>
  </div>

  <div class="flex-container">
    <div
      class="flex-item"
      *ngFor="let el of hashMap.keys()"
      style="
        border: 0px solid green;
        margin: 5px;
        padding: 5px;
        width: 45%;
        border-radius: 10%;
      "
    >
      <div
        style="
          width: 100%;
          border: 0px solid black;
          text-align: left;
          border-radius: 10%;
        "
        [ngClass]="el"
      >
        <b style="width: 100%; border: 0px solid black">
          {{ el | virtueFinder }}
        </b>
      </div>

      <div *ngFor="let quality of hashMap.get(el)?.values()">
        <mat-checkbox
          (change)="updateItem(quality)"
          [checked]="quality.selected"
        >
          {{ quality.name }}
        </mat-checkbox>
      </div>
    </div>
  </div>

  <br />
  <!--
  <div *ngIf="isMobile">
    <div
      *ngFor="let quality of qualities | async"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div
        *ngIf="quality.selected == true"
        class="widthMobile"
        style="
          border: solid gray 1px;
          padding: 5px;
          margin: 10px;
          border-radius: 5%;
        "
        [ngClass]="quality.virtue"
      >
        <div style="text-align: center">
          <p>
            <b style="color: green; font-size: large">{{ quality.name }}</b>
          </p>
        </div>
        <img
          style="border-radius: 3%"
          width="99%"
          src="{{
            'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/q/' +
              quality.id +
              '.jpg'
          }}"
        />
        <div style="color: green; margin-left: 30">
          <b>{{ quality.name }} </b>is:

          <div style="color: gray; border-radius: 5%">
            {{ quality.description }}
          </div>
          <br />
          <div>
            your experience

            <textarea
              placeholder="Describe how {{ quality.name }} has been good"
              style="width: 95%; border: 1px solid gray; margin-left: 5px"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="10"
              [(ngModel)]="quality.desc_xp"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isMobile">
    <div *ngFor="let quality of qualities | async">
      <div class="three-columns-grid" *ngIf="quality.selected == true">
        

        <div
          style="
            border: solid gray 1px;
            padding: 5px;
            margin: 1px;
            border-radius: 5%;
            float: left;
          "
          [ngClass]="quality.virtue"
        >
          <img
            style="border-radius: 3%"
            width="99%"
            src="{{
              'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/q/' +
                quality.id +
                '.jpg'
            }}"
          />
          <div
            style="color: green; margin-left: 30"
            [ngClass]="{ parent: !isMobile }"
          ></div>
        </div>
        <div>
          <b>{{ quality.name }} </b>
          <div style="color: gray; border-radius: 5%; background-color: bisque">
            {{ quality.description }}
          </div>
          <br />
        </div>
        <div>
          <div [ngClass]="{ child: !isMobile }">
            your experience

            <textarea
              placeholder="Describe how {{ quality.name }} has been good"
              style="width: 95%; border: 1px solid gray; margin-left: 5px"
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="10"
              [(ngModel)]="quality.desc_xp"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

-->

  <div style="width: 99%; margin-bottom: 40px">
    <div>
      <div>
        <div>
          <div style="margin-left: 10px">
            <div *ngFor="let quality of theQualities">
              <div>
                <div
                  fxLayout="column"
                  *ngIf="quality.selected == true"
                  style="margin-bottom: 30px"
                >
                  <div fxLayout="row">
                    <div>
                      <div class="">
                        <div style="width: 100%">
                          <img
                            [ngClass]="quality.virtue"
                            style="
                              width: 100px;
                              height: 100px;
                              margin-right: 8px;

                              border-radius: 15%;
                              padding: 3px;
                              border: 1px solid black;
                            "
                            src="{{
                              'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/q/' +
                                quality.id +
                                '.jpg'
                            }}"
                          />
                        </div>
                      </div>
                    </div>

                    <div style="margin-left: 10px; margin-top: 0px" fxFlex>
                      <p>
                        <b style="color: white">{{ quality.name }}</b>
                      </p>

                      <textarea
                        class="custom-textarea"
                        placeholder="Describe how {{
                          quality.name
                        }} has been good"
                        style="
                          width: 95%;
                          border: 0.1px solid gray;
                          margin-left: 0px;
                        "
                        matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="4"
                        cdkAutosizeMaxRows="10"
                        [(ngModel)]="quality.desc_xp"
                      ></textarea>

                      <br />
                    </div>
                  </div>
                  <div style="margin-left: 0px; margin-top: 0px" fxFlex>
                    <div
                      style="
                        color: burlywood;
                        font-style: italic;
                        font-size: small;
                      "
                    >
                      {{ quality.name }} is "{{ quality.description }}"
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #header>
    <div
      style="
        float: left;
        width: 100%;
        z-index: 0;
        margin-bottom: 20px;
        background-color: black;
        border: solid grey 1px;
        position: fixed;
        z-index: 10;
      "
    >
      <div style="border-bottom: 0px solid black">
        <button mat-button (click)="confirmationBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        @<b>{{ selectedMaster?.name }}</b>
      </div>
    </div>
  </ng-template>
</div>
