/* component.css */
.colonnine {
  display: flex;
  flex-direction: column;

  padding: 10px;
  padding-top: 50px;
}

.appheader,
.appfooter {
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.appcontent {
  display: flex;
  height: 50%;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid black;
  margin: 10px;
}

.column img {
  max-width: 100%;
  max-height: 100%;
}

.column.small {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi orizzontalmente */
  justify-content: center; /* Centra gli elementi verticalmente, se necessario */
  text-align: center; /* Centra il testo sotto il bottone */
}

.buttonx {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
  border-radius: 50%;
}

.buttonx img {
  height: auto; /* Mantiene il rapporto dell'immagine */
}

.flex-icon {
  width: 25px;
}

.flex-icon-g {
  border-radius: 50%;
}
.flex-container {
  display: flex;
  align-items: center;
}
.menu-icon {
  color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: black;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

header {
  background: #007bff;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #0779e4 3px solid;
}

header h1 {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.content {
  padding: 20px;
  background: black;
}

.content h2,
.content h1,
.content h3 {
  color: #007bff;
}

.content p {
  margin: 10px 0;
}

.key-features,
.why-choose,
.explore-human {
  color: #e7e7e7;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cta-button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px;
  background: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

/*from html generated*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: black;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

header {
  background: #007bff;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #0779e4 3px solid;
}

header h1 {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.content {
  padding: 20px;
  background: black;
}

.content h2,
.content h1,
.content h3 {
  color: #007bff;
}

.content p {
  margin: 10px 0;
}

.key-features,
.why-choose,
.explore-human {
  color: #e7e7e7;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cta-button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px;
  background: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
