/* component.css */
.colonnine {
  display: flex;
  flex-direction: column;

  padding: 10px;
  padding-top: 50px;
}

.appheader,
.appfooter {
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.appcontent {
  display: flex;
  height: 50%;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid black;
  margin: 10px;
}

.column img {
  max-width: 100%;
  max-height: 100%;
}

.column.small {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi orizzontalmente */
  justify-content: center; /* Centra gli elementi verticalmente, se necessario */
  text-align: center; /* Centra il testo sotto il bottone */
}

.buttonx {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
  border-radius: 50%;
}

.buttonx img {
  height: auto; /* Mantiene il rapporto dell'immagine */
}
