<div *ngIf="isMobile">
  <app-header style="color: white"></app-header>
  <div style="padding-top: 50px"></div>

  <div style="margin-left: 20px">
    <div
      *ngIf="profile == null"
      (click)="signInWithGoogle()"
      style="cursor: pointer"
      mat-menu-item
      [routerLinkActive]="'active'"
      style="color: white"
    >
      <img src="/assets/g.jpeg" class="flex-icon flex-icon-g" />
      Sign in with Google
    </div>
    <div *ngIf="profile != null">
      <div
        class="flex-container"
        mat-menu-item
        [routerLinkActive]="'active'"
        style="color: white"
        routerLink="/users/user/{{ profile.id }}"
      >
        <mat-icon class="menu-icon" style="color: white">person</mat-icon>
        {{ profile.email }}
      </div>

      <div
        (click)="signOut()"
        class="flex-container"
        mat-menu-item
        [routerLinkActive]="'active'"
        style="color: white"
        [routerLink]="'/homesearch'"
      >
        <mat-icon class="menu-icon">logout</mat-icon>
        Logout
      </div>
    </div>
  </div>
</div>

<section class="container content">
  <h1>Wellcome to InnerNautic</h1>

  <div>
    <div class="key-features">
      <p style="color: white">
        Discover intriguing world destinations and live life-changing
        experiences.
      </p>
      <p style="color: white">
        Find the experience reccomended by the community.
      </p>
      <p style="color: white">Create the search by combining:</p>
    </div>
    <div class="appcontent" style="color: white">
      <div class="column small">
        <button
          [routerLinkActive]="'active'"
          [routerLink]="'/qualities'"
          class="buttonx"
        >
          <img src="assets/tarots.jpg" class="buttonx" />
        </button>
        <b class="linkColor">strenghts</b>
        <!--
        Use cards to explore all various aspects of human experience.-->
      </div>

      <div class="column small">
        <button
          [routerLinkActive]="'active'"
          [routerLink]="'/locations'"
          class="buttonx"
        >
          <img src="assets/pngworld.jpg" class="buttonx" />
        </button>
        <b class="linkColor">locations</b>
        <!--
        If you are already in a place, or planning to go somewhere.
         -->
      </div>
      <div class="column small">
        <button
          [routerLinkActive]="'active'"
          [routerLink]="'/searchactivity'"
          [queryParams]="{ type: 'search' }"
          class="buttonx"
        >
          <img src="assets/activities2.jpg" class="buttonx" />
        </button>
        <b class="linkColor">activities</b>
        <!--
        If you are already in a place, or planning to go somewhere.
         -->
      </div>
    </div>
  </div>

  <!--



  <div class="column">
    <img src="assets/black_turtle.jpg" class="buttonx" style="width: 90%" />
  </div>
  <br />

  <div>
    <h2>InnerNautic is here for:</h2>
    <div class="key-features">
      <b class="linkColor">• Personal Growth: </b>
      <p style="margin-left: 20px">
        Embrace opportunities for profound personal development as you traverse
        the globe.
      </p>
      <b class="linkColor">• Inspiration from Travelers: </b>
      <p style="margin-left: 20px">
        Find inspiration from like-minded souls who seek inner change.
      </p>
      <b class="linkColor"> • Avoid the Fake Reality: </b>
      <p style="margin-left: 20px">
        Experience the genuine essence of travel with InnerNautic.
      </p>
    </div>
  </div>

  <br />
    -->
</section>

<footer>
  <p>InnerNautic © 2024. All Rights Reserved.</p>
</footer>
