<mat-card
  (click)="onSelect(hero)"
  *ngIf="hero"
  style="margin: 5px; padding: 5px"
>
  <div fxLayout="row">
    <div style="display: flex">
      <div class="___image-cropper-arch">
        <div
          style="
            cursor: pointer;
            padding: 2px;
            width: 80px;
            height: 90px;
            border: 0px solid black;
          "
        >
          <app-experience-master-user-pic
            [hero]="hero"
          ></app-experience-master-user-pic>
        </div>
      </div>
    </div>

    <div style="margin-left: 15px; width: 100%; padding-bottom: 5px">
      <div style="text-align: left; color: black">
        {{ hero.profile.username }}
        <b style="text-align: left; color: black"> @{{ hero.master.name }} </b>
      </div>
      <div style="width: 100%; font-style: italic; color: gray">
        <div style="width: 100%; margin-top: 0px">
          <div style="float: left">
            <span>
              {{ hero.location | locationCompact }} -
              {{ hero.event_date | date : "MMM, Y" }}
            </span>
          </div>
        </div>
      </div>
      <br />

      <div style="float: left">
        <span style="display: flex">
          <div *ngIf="hero.activities">
            <label
              style="color: blue; cursor: pointer"
              *ngFor="let a of hero.activities"
              >#{{ a.name }}&nbsp;
            </label>
          </div>
        </span>
      </div>
      <br />
      <!--

      -->
      <div>
        <div
          style="color: black; cursor: pointer; display: inline"
          *ngFor="let quality of hero.qualities; let i = index"
        >
          <div class="contenitore">
            <div class="cerchio" [ngClass]="quality.virtue"></div>
            {{ quality.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
        
      -->

  <div
    style="font-style: italic; color: gray; margin-top: 5px; margin-left: 5px"
  >
    {{ hero | descriptionManager | slice : 0 : 300 }}
    <b *ngIf="(hero | descriptionManager).length > 300">...continue</b>
  </div>
</mat-card>
