<div *ngIf="userProfile | async as myUser">
  <div>
    username:
    <input
      *ngIf="myUser"
      id="hero-name"
      [(ngModel)]="myUser.username"
      placeholder="name"
    />
  </div>
  <br />
  <img
    src="{{
      'https://enrgmsdppekwfvmbdxsl.supabase.co/storage/v1/object/public/avatars/' +
        myUser.avatar_url
    }}"
    alt="Avatar"
    class="avatar image"
    style="width: 300px"
  />

  <div class="custom-file overflow-hidden rounded-pill mb-5">
    <br />
    <input type="file" (change)="fileChangeEvent($event)" />
  </div>

  <div *ngIf="message" class="alert alert-success" role="alert">
    {{ message }}
  </div>

  <br />
  <div>
    <button (click)="saveProfile()">Update Profile</button>
  </div>

  <image-cropper
    style="max-width: 500px"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
</div>
