.div-container-aligned {
  justify-content: center; /* Centra i componenti orizzontalmente */

  height: 100vh; /* 100% della viewport height */
}
.footer {
  display: flex;

  padding: 0px;
  border: 0px solid #ccc;
}

.leftlink,
.rightLink {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin: 5px 15px; /* Aggiunge margine orizzontale per separarli */
  color: blue;
}

.central {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin: 5px 15px; /* Aggiunge margine orizzontale per separarli */
  color: blue;
}
