<div fxLayout="row" *ngIf="!isMobile">
  <div fxFlex.gt-sm="75%">
    <div style="width: 99%">
      <p>
        <b style="font-size: x-large">Activities</b
        ><button
          [routerLinkActive]="'active'"
          routerLink="/addActivity"
          mat-stroked-button
          style="
            margin-right: 10px;
            margin-bottom: 10px;
            color: blue;
            float: right;
          "
        >
          Add New Activity
        </button>
      </p>
      <br />
      <div>
        <div *ngFor="let a of activities | async">
          <app-activity-item [activity]="a"></app-activity-item>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex.gt-sm="25%">
    <app-search-composite
      placeHolder="Search activities"
      (notifyParent)="getNotification($event)"
    ></app-search-composite>
  </div>
</div>

<div *ngIf="isMobile">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    [(selectedIndex)]="indxTab"
  >
    <mat-tab label="Activities">
      <div *ngFor="let a of activities | async">
        <app-activity-item [activity]="a"></app-activity-item>
      </div>
    </mat-tab>
    <mat-tab label="Search">
      <br />
      <app-search-composite
        (notifyParent)="getNotification($event)"
        placeHolder="Search activities"
      ></app-search-composite>
    </mat-tab>
    <mat-tab label="Add">
      <app-activity-insert></app-activity-insert>
    </mat-tab>
  </mat-tab-group>
</div>
