/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.WI {
  background: rgba(255, 252, 127, 0.3);
}
.CO {
  background: rgba(3, 138, 255, 0.3);
}
.HU {
  background: rgba(254, 121, 104, 0.3);
}
.JU {
  background: rgba(201, 242, 155, 0.3);
}
.TE {
  background: rgba(255, 148, 112, 0.3);
}
.TR {
  background: rgba(213, 184, 255, 0.3);
}

.mat-icon-size {
  transform: scale(0.6);
}
