/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: black;
  color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.WI {
  background: rgba(255, 252, 127, 1);
}
.CO {
  background: rgba(3, 138, 255, 1);
}
.HU {
  background: rgba(254, 121, 104, 1);
}
.JU {
  background: rgba(201, 242, 155, 1);
}
.TE {
  background: rgba(255, 148, 112, 1);
}
.TR {
  background: rgba(213, 184, 255, 1);
}

.mat-icon-size {
  transform: scale(0.6);
}

.circle-icon-actions {
  background-color: black; /* Colore dello sfondo del cerchio */
  border: 0px solid white;
  border-radius: 50%; /* Rendi il bordo circolare */
}
.circle-icon-actions-button {
  /* Colore dello sfondo del cerchio */
  background-color: white;
  color: blue;
  border: 1px solid white;

  border-radius: 50%; /* Rendi il bordo circolare */
}
.circle-icon-actions-item {
  /* Colore dello sfondo del cerchio */
  background-color: white;
  color: blue;
  border: 1px solid white;
  border-radius: 50%; /* Rendi il bordo circolare */
}

/*
mat-tab
*/
.mat-tab-label,
.mat-tab-link {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

::ng-deep .mat-tab-header {
  overflow-x: scroll !important;
}

::ng-deep .mat-tab-label-container {
  overflow: visible !important;
}

::ng-deep .mat-tab-header::-webkit-scrollbar {
  display: none;
}

.custom-panel-class {
  padding-top: 0px;
  max-width: "100vw";
  max-height: "100vh";
  height: "100%";
  width: "100%";
}

.div-container-uploadimg {
  display: flex;
  flex-direction: column; /* Imposta la direzione principale come colonna, quindi gli elementi sono disposti verticalmente */
  align-items: center; /* Centra gli elementi orizzontalmente */
  justify-content: center; /* Centra gli elementi verticalmente */
  height: 300px; /* o qualsiasi altro valore */

  background-color: lightgray;
  margin: 20px;

  height: 200px;
  width: 90%;
}

.cerchio {
  width: 7px;
  height: 7px;
  border-radius: 35%;
  background-color: #000; /* Imposta il colore di sfondo del cerchio */
  color: white;
  margin: 5px;
  border: 1px solid black;
  display: inline-block; /* Imposta il cerchio come elemento inline-block */
  vertical-align: middle; /* Allinea il cerchio verticalmente al centro del contenuto */
}

.contenitore {
  font-size: x-small;
  border: 0px solid black;
  margin-right: 5px; /* Aggiunge margine a destra per separare gli elementi */
  display: inline-flex; /* Utilizza flexbox per posizionare gli elementi sulla stessa linea */
}

.blackGroup {
  background-color: #1f1f1f;
  padding: 5px;
  border-radius: 0px;
  margin-top: 5px;
}

.cardcustom {
  background-color: #1f1f1f;
  color: white;
  border-radius: 15%;
  border: 1px solid white;
}

.mat-card {
  background-color: #1f1f1f;
  color: white;
  border: 1px solid gray;
  border-radius: 15%;
}
.linkColor {
  color: #99c3ff;
}
