<div style="padding-right: 15px; border: 0px solid white">
  <div
    class="flex-container"
    [routerLinkActive]="'active'"
    [routerLink]="'/home'"
  >
    <mat-icon class="menu-icon">home</mat-icon>
    Home
  </div>
  <hr />

  <!--
  <button
   
   
    [routerLinkActive]="'active'"
    [routerLink]="'/virtues'"
  >
    Virtues
  </button>
-->
  <div
    class="flex-container"
    [routerLinkActive]="'active'"
    routerLink="/locations"
  >
    <mat-icon class="menu-icon">map</mat-icon>

    Locations
  </div>
  <div
    class="flex-container"
    [routerLinkActive]="'active'"
    [routerLink]="'/qualities'"
  >
    <img class="flex-icon" src="assets/cards_black.png" />
    Cards
  </div>

  <div class="flex-container" [routerLinkActive]="'active'" routerLink="/users">
    <mat-icon class="menu-icon">group</mat-icon>
    Heroes
  </div>
  <hr />
  <div
    class="flex-container"
    [routerLinkActive]="'active'"
    routerLink="/freequalities"
  >
    <mat-icon class="menu-icon">all_inclusive</mat-icon>

    All Skills
  </div>
  <hr />
  <div
    class="flex-container"
    [routerLinkActive]="'active'"
    routerLink="/searchmaster"
    [queryParams]="{ type: 'search' }"
  >
    <mat-icon class="menu-icon">search</mat-icon>

    Search Masters
  </div>
  <div
    class="flex-container"
    [routerLinkActive]="'active'"
    routerLink="/searchactivity"
    [queryParams]="{ type: 'search' }"
  >
    <mat-icon class="menu-icon">search</mat-icon>

    Search Activities
  </div>
  <hr />
  <div *ngIf="user">
    <div
      class="flex-container"
      [routerLinkActive]="'active'"
      routerLink="/addMaster"
    >
      <mat-icon class="menu-icon">person_add</mat-icon>

      Add a Master
    </div>
    <div
      class="flex-container"
      [routerLinkActive]="'active'"
      routerLink="/addActivity"
    >
      <mat-icon class="menu-icon">playlist_add</mat-icon>

      Add an Activity
    </div>
    <div
      class="flex-container"
      [routerLinkActive]="'active'"
      routerLink="/addXp"
      [queryParams]="{ type: 'addXp' }"
    >
      <mat-icon class="menu-icon">add_circle</mat-icon>

      Add an Experience
    </div>
    <hr />
  </div>
  <div
    class="flex-container"
    *ngIf="user"
    [routerLinkActive]="'active'"
    routerLink="/profile"
  >
    <mat-icon class="menu-icon">person</mat-icon>

    My Profile
  </div>

  <div
    class="flex-container"
    *ngIf="!user"
    [routerLinkActive]="'active'"
    (click)="signInWithGoogle()"
  >
    <img src="/assets/g.jpeg" class="flex-icon flex-icon-g" />
    Sign in with Google
  </div>
  <div
    class="flex-container"
    *ngIf="user"
    [routerLinkActive]="'active'"
    (click)="signOut()"
    [routerLink]="'/homesearch'"
  >
    <mat-icon class="menu-icon">logout</mat-icon>
    Logout
  </div>
</div>
