<div fxLayout="row" *ngIf="!isMobile">
  <div fxFlex.gt-sm="75%">
    <h2>Experiences</h2>
    <div class="container" style="width: 99%">
      <div>
        <div class="heroes">
          <div *ngFor="let hero of heroes | async">
            <app-experience-item [hero]="hero"></app-experience-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex.gt-sm="25%">
    <app-search-composite
      (notifyParent)="getNotification($event)"
      placeHolder="Search experiences"
    ></app-search-composite>
  </div>
</div>

<div *ngIf="isMobile">
  <div *ngFor="let hero of heroes | async">
    <app-experience-item [hero]="hero"></app-experience-item>
  </div>
</div>
